<tr>
    <td id="ctl00_tdDolni" colspan="2" class="spodni">
    <div><a target="_self" href="#start">nahoru</a><br />
<a target="_self" href="javascript:history.back();">zpět</a> | <a target="_self" href="/">
        index</a> | <a target="_self" href="javascript:history.forward();">
        vpřed</a></div>
    webmaster: <a href="mailto:webmaster@caktus.cz">me2d09</a><br />
    webdesign: <a href="mailto:prasatko@caktus.cz">Daniel Knotek</a> 
    &amp; <a href="https://www.ceramtec.info/" target="_blank">Ceramtec 
    s.r.o.</a><br />
<span lang="en">©</span> Caktus 2003-2025 - všechna kráva ohražena<br />všechna 
    tráva vykouřena
    </td>
</tr>